.table-container {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    border: 0.5px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.table-title {
    background-color: #057aff;
    color: white;
    text-align: left;
    padding: 10px 20px;
    font-size: 1.2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

th, td {
    text-align: left;
    padding: 12px;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
