
#filters_pos {
    display: flex;
    gap: 20px;
    position: relative;
}
#menu {
    
    margin: 0;
    padding: 0;
    background-color: white;
}
#charts {
    display: flex;
    padding: 0;
}
#charts li {
    margin: 0;
    color: black;
    font-size: 12px;
    list-style: none;
    padding-right:5em;
    border-bottom: 3px solid blue;
}
#switcher {
    padding: 0;
    display: flex;
    list-style: none;
    gap: 1rem;
}
#switcher li:hover {
    cursor: pointer;
}

#statistic-tab {
    color: black;
    display: grid;
    
    gap: 1em;
    padding: 1em;
    list-style: none;
    font-size: 0.8rem;
    
}
.player-grid {
    grid-template-columns: 1fr 3.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1.5fr 1.5fr;
}
.team-grid {
    grid-template-columns:  3.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr 1.5fr 1.5fr;
}
#statistic-tab  li {
    margin: 1em;
    text-align: left;
    
}
#statistic-tab li:first-child {
    opacity: 70%;
}
#statistic-tab:hover {
    
    border-radius: 10px;
    background-color: antiquewhite;
}
#stats ul{
    padding: 0;
    
}
#stats-filter {
    padding: 0;
    color: black;
    list-style: none;
    display: grid;
    gap: 1em;
    font-size: 0.8rem;
}
#stats-filter ul {
    margin: 0;
}
#stats-filter li {
    opacity: 80%;
    margin: 1em;
    font-size: 0.6rem;
    text-align: left;

}
#dropdown {
    
    border: 0.5px solid blue;
    background-color: white;
    border-radius: 5px;
    z-index: 10;
    padding: 10px 14px 10px 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    position: absolute;
    
}

#dropdown li {
    cursor: pointer;
    margin: 0;
    /*padding: 2px 18px 2px 18px;*/
    text-align: left;
}
#dropdown p {
    color: black;
    font-weight: 400;
    margin: 0;
    border-bottom: 0.5px solid black;
    padding: 0px 4px 0px 4px;
}

#dropdown li:hover {
    background-color: white;
}
.active-switcher {
    color: blue;
    border-bottom: 2px solid blue;  
    font-weight: 700;
}
.tab-filter {
    border: 0.5px solid #001CBA;
    padding: 10px;
    border-radius: 5px;
    color: #001CBA;
    font-weight: 400;
}
.disabled {
    border-color: grey;
    color: grey;
}


